body {
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--corPrincipal);
    text-align: justify;
}

:root {
    --corPrincipalFonte: #0d122a;

    --corPrincipal: #0d122a;
    --corSecundaria: #007bff;
}