.container {
    margin: 0;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
}

.navBarLateral {
    /* background-image: linear-gradient(to right, var(--corPrincipal), #142370); */
    background-color: var(--corPrincipal);
    height: 100vh;
    width: 15%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    align-items: center;
}

#logo{
    width: 150px;
    height: 150px;
}

/* Conteudo */
.conteudo {
    width: 85%;
    display: flex;
    flex-direction: column;
}

.conteudo .titulo-conteudo {
    width: 100%;
    height: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--corPrincipal);
}

.conteudo .titulo-conteudo h2 {
    margin: 0;
    padding: 2px;
    color: white;
}

.botao {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.botao:hover,
.selecionado {
    transform: scale(1.20);
    font-weight: bolder;
}

.botao img {
    width: 30px;
    height: 30px;
}