.login {
    width: 450px;
    padding: 20px;
    margin-top: 10%;
}

.principal {
    background-color: #fff;
    padding: 30px;
    border-radius: 16px;
    box-shadow: 0 30px 60px rgba(0, 0, 0, 0.3);
    border: 1px solid var(--corPrincipal);
    text-align: center;
}

.principal h2 {
    margin-bottom: 20px;
    color: var(--corPrincipal);
}

.card-login{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.formulario{
    width: 100%;
}


.formulario .campo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.formulario .campo span {
    font-size: 14px;
    color: #555;
}

.formulario .campo input {
    width: 100%;
    padding: 10px 0;
    border: 1px solid #ccc;
    border-radius: 8px;
    transition: border-color 0.3s;
    margin-bottom: 15px;
}

.formulario .campo input:focus {
    border-color: var(--corPrincipal);
    outline: none;
}


.botao {
    width: 100%;
    padding: 12px 0;
    background-color: var(--corPrincipal);
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 15px;
}

.botao:hover {
    background-color: #5a67d8;
}

#linkCadastro{
    margin: 30px auto 0 auto;
}

.alerta_erro {
    display: none;
    margin-bottom: 10px;
}

.card_erro {
    background-color: #ffe5e5;
    color: #c53030;
    padding: 10px;
    border-radius: 8px;
    font-size: 14px;
    text-align: left;
}

.loading-div {
    display: none;
    margin: 15px auto;
    justify-content: center;
}

#loading-gif {
    width: 15px;
}

#modalLogin{
    width: 500px;
    height: 200px;
    background-color: #c53030;
}

#modalLogin .container{
    width: 100%;
    height: 100%;
}



